.stars-size {
  font-size: 72px;
}
.outContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}
.containerDiv {
  overflow: hidden;
}
.containerStars {
  display: flex;
  justify-content: space-around;
  width: 350px;
}
.containerInput input{
  outline: none;
  margin: 20px 0;
  padding: 5px;
  border-width: 0 0 1px 0;
}
.connection-links {
  color: rgb(85, 85, 85);
}
.connection-links a{
  text-decoration: none;
  color: rgb(0, 163, 35)
}
.fa-star:before{
  color:rgb(233, 210, 0)
}