<div class="container outContainer">
  <div [style.width.px]="starWidth" class="containerDiv">
    <div class="containerStars">
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
    </div>
    <div class="containerinputs">
      <input type="checkbox" id="check" name="Mikael">
      <label for="check">Uma estrela</label>
      <br>
      <input type="checkbox" id="check" name="Mikael">
      <label for="check">Duas estrelas</label>
      <br>
      <input type="checkbox" id="check" name="Mikael">
      <label for="check">Três estrelas</label>
      <br>
      <input type="checkbox" id="check" name="Mikael">
      <label for="check">Quatro estrelas</label>
      <br>
      <input type="checkbox" id="check" name="Mikael">
      <label for="check">Cinco estrelas</label>
      <br>
    </div>
  </div>
</div>