<div class="container outContainer">
  <div [style.width.px]="starWidth" class="containerDiv">
    <div class="containerStars">
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
      <span class="fa fa-star stars-size"></span>
    </div>
    <div class="containerInputs">
      <!-- <input [(ngModel)]="rating" name="rating"> -->
      <br>
    </div>
  </div>
</div>