.stars-size {
  font-size: 72px;
}
.outContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.containerDiv {
  overflow: hidden;
}
.containerStars {
  display: flex;
  justify-content: space-around;
  width: 350px;
}